/* 1.  Enhancing CSS Styling of Chocolate Chip Cookie Recipe */
/* Task 1: Use CSS to style the chocolate chip cookie recipe */
body {
    background-color: rgb(08, 163, 168);
}

h1 {    
    color: #6f2727;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

h2, p, li, ol, ul{
    color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
    margin: 30px 30px 40px 10px;
    font-size: 14px;
}

ol {
    border: 2px solid #f7f7f7;
    padding: 30px;
}

.regular-text {
    font-size: 1.2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#cookie-image {
    height: 600px;
}

a:hover {
    background-color: yellow;
}

label {
    color:#f7f7f7;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

#recipe-name {
    margin-left: 3px;
}

#ingredients {
    margin-left: 25px;
}

#instructions {
    margin-left: 21px;
}

#submit {
    margin-top: 30px;
}

/* Task 2: Use CSS to style the button with hover effects using pseudo-classes (:hover). Ensure that the button stands out and invites users to click. */
#submit:hover {
    cursor: pointer;
}

form {
    border: 2px solid #f7f7f7;
    padding: 10px;
}